# Datasets
datasets/
merged_dataset/

# Models and Weights
models/pretrained/
models/trained/
*.pt
*.onnx

# Ultralytics/YOLO default output folders
runs/
yolov8n.pt

# Python and Environments
__pycache__/
*.pyc
.venv/
venv/
env/

# System Files
.DS_Store
Thumbs.db
